/* 
    General Styles
*/

.headerImg {
    max-width: 199px;
}

.myCard   {
    max-width: 18rem; 
    background-color: rgb(43, 43, 43);
}

.myCardImg:hover {
    cursor: pointer;
    box-shadow: 0 7px 19px rgba(237, 230, 243, 0.227);
}

.myCardText {
    background-color: rgb(43, 43, 43);
}

.likeButton {
    background-color: transparent;
    text-size-adjust: 33px;
    text-align: center;
    color: rgba(255, 255, 255, 0.696);
}

.likeButton:hover {
    cursor: pointer;
    color: rgba(255, 112, 169, 0.699);
}

.noUser {
    color: rgba(255, 112, 169, 0.699);
}

.loginButton {
    background-color: rgba(76, 75, 75, 0.522);
    width: 169px;
    text-size-adjust: 33px;
    text-align: center;
    color: rgba(255, 255, 255, 0.696);
}

.loginButton:hover {
    cursor: pointer;
    color: rgba(255, 112, 169, 0.699);
}

.signUpButton {
    background-color: rgba(76, 75, 75, 0.522);
    width: 169px;
    text-size-adjust: 33px;
    text-align: center;
    color: rgba(255, 255, 255, 0.696);
    box-shadow: 0 7px 19px rgba(237, 230, 243, 0.111);
    padding-bottom: 7px;
}

.signUpButton:hover {
    cursor: pointer;
    color: rgba(255, 112, 169, 0.699);
    box-shadow: 0 7px 19px rgba(237, 230, 243, 0.227);
}

.socials {
    background-color: rgba(76, 75, 75, 0);
    width: 43px;
    height: 43px;
    text-size-adjust: 33px;
    text-align: center;
    color: rgba(255, 255, 255, 0.696);
    padding-top: 13px;
    border-radius: 21%;
}

.socials:hover {
    cursor: pointer;
    background-color: rgba(76, 75, 75, 0);
    width: 43px;
    height: 43px;
    text-size-adjust: 33px;
    text-align: center;
    color: rgba(255, 255, 255, 0.696);
    padding-top: 13px;
    box-shadow: 0 7px 19px rgba(237, 230, 243, 0.227);
    border-radius: 21%;
}


.topRightLoginButton {
    background-color: rgba(76, 75, 75, 0);
    width: 133px;
    height: 43px;
    text-size-adjust: 33px;
    text-align: center;
    color: rgba(255, 255, 255, 0.696);
    padding-top: 7px;
    box-shadow: 0 7px 19px rgba(237, 230, 243, 0.069);
    border-radius: 11%;
}

.topRightLoginButton:hover {
    cursor: pointer;
    color: rgba(255, 112, 169, 0.699);
    box-shadow: 0 7px 19px rgba(237, 230, 243, 0.169);
    border-radius: 11%;
}

.liked {
    color: rgba(255, 112, 169, 0.693);
}

.trash {
    float: right;
    padding-top: 7px;
    padding-right: 7px;
}

.trash:hover {
    cursor: pointer;
    color: rgba(255, 112, 169, 0.738);
}

.myList {
    text-transform: capitalize;
    background-color: rgb(43, 43, 43);
    color:rgb(167, 167, 167);
    padding-bottom: 11px;
}